:root {
  --cinza: #aaa;
  --vermelha: #e93d50;
  --vermelha-escura: #af303f;
  --branca: #fff;
  --luz: rgb(229, 255, 0);
}

body {
  align-items: center;
  background-image: url(/images/bg.jpg);
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=82223), auto;
}

.titulo {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: end;
}

#image-surround1 {
  width: 180px;
  height: auto;
  padding-bottom: 20px;
}

#image-surround2 {
  width: 180px;
  height: auto;
}

h1 {
  display: inline-block;
  color: #e60b8d;
  text-shadow: 2px 2px 5px plum ;
  margin-bottom: 10px;
  font-size: 2rem;
  padding: 10px;
}

.teclado {
  background: linear-gradient(to bottom, #ece7e7 0%,#f7bedd 100%);
  box-shadow: 6px 8px 0 6px rgb(202, 26, 123), 10px 10px 10px rgb(158, 157, 157);
  border-radius: 30px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
}

.tecla {
  background-color: var(--branca);
  border-radius: 30px;
  box-shadow: 3px 3px 0 var(--cinza);
  color: #d80679;;
  cursor: pointer;
  height: 120px;
  font-size: 1.75em;
  font-weight: bold;
  line-height: 120px;
  text-align: center;
  width: 120px;
}

.tecla.ativa,
.tecla:active {
  background-color: var(--vermelha);
  border: 4px solid  var(--vermelha);
  box-shadow: 3px 3px 0 var(--vermelha-escura) inset;
  color: var(--branca);
  outline: none;
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=101784), auto; 
}

.tecla.focus,
.tecla:focus {
  outline: none;
  box-shadow: 1px 1px 10px var(--luz);
}

.tecla.active:focus,
.tecla:active:focus {
  box-shadow: 3px 3px 0 var(--vermelha-escura) inset, 1px 1px 10px var(--luz);
}

button:hover {
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=101784), auto;
}
